<<<<<<< HEAD
﻿@model  Bearchop.LOTW.ViewModels.WeeksViewModel
=======
﻿@model  Bearchop.Areas.LOTW.Web.ViewModels.WeeksViewModel
>>>>>>> 0297af5bd1bc700c06e6327a3527d72f11f3b1fc
@{
    ViewBag.Title = "List";
}

<section id="weekList">

</section>
