@{
    ViewBag.Title = "Login";
}

@using(Html.BeginForm("login","home", FormMethod.Post, new{@id="loginForm"}))
{
    <div id="usernameContainer">
        <label for="username">Username</label>
        @Html.TextBox("username", string.Empty)
    </div>
    <div id="passwordContainer">
        <label for="password">Password</label>
        @Html.TextBox("password", string.Empty, new{type="password"})
    </div>
    <input type="submit" value="Login" class="button" />
}

