@{
    ViewBag.Title = "Index";
}

<section id="message">

    <div id="messageList">
        <ul>
            <li>Reminder for the Week</li>
            <li>Results for the Week</li>
        </ul>
    </div>



    

</section>