<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NCAAFEntities" connectionString="metadata=res://*/NCAAF.csdl|res://*/NCAAF.ssdl|res://*/NCAAF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dpchl00765\SQLEXPRESS2;Initial Catalog=NCAAF;User ID=milk;Password=honey;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="JeauxDBEntities" connectionString="metadata=res://*/JeauxDB.csdl|res://*/JeauxDB.ssdl|res://*/JeauxDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=dpchl00765\SQLEXPRESS2;Initial Catalog=JeauxDB;User ID=milk;Password=honey;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>