@{
    ViewBag.Title = "Index";
}


<div>

    @Html.Label("User Id")
    @Html.TextBox("userId", string.Empty, new { @class = "input-medium search-query", @id = "user-id" })
    <button id="search-schedule" onclick="return false;" class="btn btn-small btn-success">
        Submit<i class="icon-arrow-right icon-on-right bigger-110"></i>
    </button>

</div>


<div id="current-teams">

    <fieldset>
        <legend>Current Teams</legend>
        <table id="user-schedule" style="overflow:scroll;" class="table-striped" data-bind="visible : schedule().length > 0">
            <thead>
                <th class="span1"></th>
                <th>Name</th>
                @*<th>Pick Week</th>*@
                <th class="span3">Week 1</th>
                <th class="span3">Week 2</th>
                <th class="span3">Week 3</th>
                <th class="span3">Week 4</th>
                <th class="span3">Week 5</th>
                <th class="span3">Week 6</th>
                <th class="span3">Week 7</th>
                <th class="span3">Week 8</th>
                <th class="span3">Week 9</th>
                <th class="span3">Week 10</th>
                <th class="span3">Week 11</th>
                <th class="span3">Week 12</th>
                <th class="span3">Week 13</th>
                <th class="span3">Week 14</th>
                <th class="span3">Week 15</th>
            </thead>
            <tbody data-bind="template : {name : 'team-row', foreach : schedule}">
            </tbody>
        </table>
    </fieldset>

    <fieldset>
        <legend>Available Teams</legend>
        <table id="user-schedule" class="table-striped" data-bind="visible : availableTeams().length > 0">
            <thead>
                <th></th>
                <th>Name</th>
                <th>Week 1</th>
                <th>Week 2</th>
                <th>Week 3</th>
                <th>Week 4</th>
                <th>Week 5</th>
                <th>Week 6</th>
                <th>Week 7</th>
                <th>Week 8</th>
                <th>Week 9</th>
                <th>Week 10</th>
                <th>Week 11</th>
                <th>Week 12</th>
                <th>Week 13</th>
                <th>Week 14</th>
                <th>Week 15</th>
            </thead>
            <tbody data-bind="template : {name : 'available-team-row', foreach : availableTeams}">
            </tbody>
        </table>
    </fieldset>

</div>

@section scripts
{
    <script id="team-row" type="text/html">
        <tr data-bind="id:Schedule.TeamId">
            <td>
                <!-- ko if: SharesByeWeek() === true -->
                    <i class="icon-warning-sign red bigger-130"></i>
                    
                <!-- /ko -->

                <a data-bind="attr: {href : 'javascript:getAvailableTeams(' +  Schedule.UserId() + ',' + Schedule.TeamId() + ')'}"><i class="icon-exchange" /></a></td>
            <td data-bind="text:Schedule.Name"></td>
            @*<td data-bind="text:Schedule.PickWeek"></td>*@
            <td data-bind="text:Schedule.Week1Opponent"></td>
            <td data-bind="text:Schedule.Week2Opponent"></td>
            <td data-bind="text:Schedule.Week3Opponent"></td>
            <td data-bind="text:Schedule.Week4Opponent"></td>
            <td data-bind="text:Schedule.Week5Opponent"></td>
            <td data-bind="text:Schedule.Week6Opponent"></td>
            <td data-bind="text:Schedule.Week7Opponent"></td>
            <td data-bind="text:Schedule.Week8Opponent"></td>
            <td data-bind="text:Schedule.Week9Opponent"></td>
            <td data-bind="text:Schedule.Week10Opponent"></td>
            <td data-bind="text:Schedule.Week11Opponent"></td>
            <td data-bind="text:Schedule.Week12Opponent"></td>
            <td data-bind="text:Schedule.Week13Opponent"></td>
            <td data-bind="text:Schedule.Week14Opponent"></td>
            <td data-bind="text:Schedule.Week15Opponent"></td>
        </tr>

    </script>

        <script id="available-team-row" type="text/html">
        <tr data-bind="id:TeamId">
            <td><a data-bind="attr: {href : 'javascript:addTeam(' + TeamId() + ')'}"><i class="icon-plus" /></a></td>
            <td data-bind="text:Name"></td>
            <td data-bind="text:Week1Opponent"></td>
            <td data-bind="text:Week2Opponent"></td>
            <td data-bind="text:Week3Opponent"></td>
            <td data-bind="text:Week4Opponent"></td>
            <td data-bind="text:Week5Opponent"></td>
            <td data-bind="text:Week6Opponent"></td>
            <td data-bind="text:Week7Opponent"></td>
            <td data-bind="text:Week8Opponent"></td>
            <td data-bind="text:Week9Opponent"></td>
            <td data-bind="text:Week10Opponent"></td>
            <td data-bind="text:Week11Opponent"></td>
            <td data-bind="text:Week12Opponent"></td>
            <td data-bind="text:Week13Opponent"></td>
            <td data-bind="text:Week14Opponent"></td>
            <td data-bind="text:Week15Opponent"></td>
        </tr>

    </script>

    <script type="text/javascript">

        function ScheduleViewModel() {
            var self = this;

            self.schedule = ko.observableArray([]);
            self.availableTeams = ko.observableArray([]);

            self.getUserSchedule = function (userId) {

                $.ajax({
                    url: "@Url.Action("currentSchedule", "schedule")",
                    type: "post",
                    data: { userId: userId },
                    success: function (result) {
                        ko.mapping.fromJS(result, {}, self.schedule);
                    },
                    error: function () {
                        alert("failure");
                    }
                });
            }

            self.getAvailableTeams = function (userId, teamId)
            {
                $.ajax({
                    url: "@Url.Action("availableTeams", "schedule")",
                    type: "post",
                    data: { userId: userId, teamId: teamId },
                    success: function (result) {
                        ko.mapping.fromJS(result, {}, self.availableTeams);
                    }
                });
            }
        }

        $(function () {
            $("#search-schedule").on("click", function () {
                var userId = $("#user-id").val();
                scheduleModel.getUserSchedule(userId);
            });

            ko.applyBindings(scheduleModel);
        });

        function getAvailableTeams(userId, teamId) {
            scheduleModel.getAvailableTeams(userId, teamId);
        }

        var scheduleModel = new ScheduleViewModel();
    </script>
}