@model Bearchop.Areas.LOTW.Web.ViewModels.GamesViewModel

@{
    ViewBag.Title = Model.PageTitle;
 }

<section id="weeks">
    <ul class="pills">
        @foreach(var week in Model.Weeks.Where(w => w.Number <= Model.CurrentWeek.Number))
        {
            <li @Html.Raw(week.Number == Model.CurrentWeek.Number ? "class='active'" : string.Empty)>@Html.ActionLink("Week " + week.Number, "List", "Game", new { week = week.Number}, null)</li>
        }
    </ul>
</section>

<section id="currentGamesContainer">

    @Html.Partial("_GameList", Model)

</section>

<script language="javascript" type="text/javascript">

    $(function () {

        removeActivePill();
        $('.games').addClass('active');
    });

</script>
