<?xml version="1.0" encoding="utf-8"?>
<!--

This file is used by the publish/package process of your Web project. You can customize the behavior of this process

by customizing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121.

-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LaunchASiteUrlAfterPublish>False</LaunchASiteUrlAfterPublish>
    <SiteUrlToLaunchAfterPublish />
    <publishUrl>C:\deploy\honeyguns</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="App_Data/JeauxDB.mdf">
      <publishTime>09/04/2012 18:12:36</publishTime>
    </File>
    <File Include="App_Data/JeauxDB_log.ldf">
      <publishTime>09/04/2012 18:12:36</publishTime>
    </File>
    <File Include="App_Data/LOTW.mdf">
      <publishTime>09/04/2012 18:12:36</publishTime>
    </File>
    <File Include="App_Data/LOTW_log.ldf">
      <publishTime>09/04/2012 18:12:36</publishTime>
    </File>
    <File Include="App_Data/NCAAF.mdf">
      <publishTime>09/04/2012 18:12:36</publishTime>
    </File>
    <File Include="App_Data/NCAAF_log.ldf">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Game/List.cshtml">
      <publishTime>09/04/2012 20:17:55</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Game/_Add.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Game/_GameList.cshtml">
      <publishTime>09/04/2012 20:37:14</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Home/Index.cshtml">
      <publishTime>09/04/2012 18:58:17</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Home/Login.cshtml">
      <publishTime>09/04/2012 19:04:30</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Message/Index.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Message/_Message.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Pick/List.cshtml">
      <publishTime>09/04/2012 19:58:52</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Pick/_PickHistory.cshtml">
      <publishTime>09/04/2012 20:31:59</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Pick/_UserPicks.cshtml">
      <publishTime>09/04/2012 20:34:24</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Shared/Error.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Shared/_lotwLayout.cshtml">
      <publishTime>09/04/2012 19:58:52</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Web.config">
      <publishTime>09/04/2012 19:21:25</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/Week/List.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/LOTW/Views/_ViewStart.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/NCAAF/Views/Login.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/NCAAF/Views/Schedule/Index.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/NCAAF/Views/Shared/Error.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/NCAAF/Views/Shared/_ncaafLayout.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Areas/NCAAF/Views/Web.config">
      <publishTime>09/04/2012 19:21:25</publishTime>
    </File>
    <File Include="Areas/NCAAF/Views/_ViewStart.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="bin/Antlr3.Runtime.dll">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/Bearchop.dll">
      <publishTime>09/04/2012 20:38:38</publishTime>
    </File>
    <File Include="bin/Bearchop.pdb">
      <publishTime>09/04/2012 20:38:38</publishTime>
    </File>
    <File Include="bin/Contests.Core.dll">
      <publishTime>09/04/2012 20:38:37</publishTime>
    </File>
    <File Include="bin/Contests.Core.pdb">
      <publishTime>09/04/2012 20:38:37</publishTime>
    </File>
    <File Include="bin/Contests.LOTW.Core.dll">
      <publishTime>09/04/2012 20:38:37</publishTime>
    </File>
    <File Include="bin/Contests.LOTW.Core.pdb">
      <publishTime>09/04/2012 20:38:37</publishTime>
    </File>
    <File Include="bin/Contests.NCAAF.Core.dll">
      <publishTime>09/04/2012 20:38:37</publishTime>
    </File>
    <File Include="bin/Contests.NCAAF.Core.pdb">
      <publishTime>09/04/2012 20:38:37</publishTime>
    </File>
    <File Include="bin/Dynamic.dll">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="bin/Dynamic.pdb">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="bin/EntityFramework.dll">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/EntityFramework.xml">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/Microsoft.Web.Infrastructure.dll">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/NuGet.Core.dll">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/RandomOrg.dll">
      <publishTime>09/04/2012 20:38:37</publishTime>
    </File>
    <File Include="bin/RandomOrg.pdb">
      <publishTime>09/04/2012 20:38:37</publishTime>
    </File>
    <File Include="bin/RouteDebugger.dll">
      <publishTime>09/04/2012 18:12:39</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.dll">
      <publishTime>09/04/2012 19:06:50</publishTime>
    </File>
    <File Include="bin/System.Web.Helpers.xml">
      <publishTime>09/04/2012 19:06:50</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.dll">
      <publishTime>09/04/2012 19:06:50</publishTime>
    </File>
    <File Include="bin/System.Web.Mvc.xml">
      <publishTime>09/04/2012 19:06:50</publishTime>
    </File>
    <File Include="bin/System.Web.Optimization.dll">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/System.Web.Providers.dll">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.dll">
      <publishTime>09/04/2012 19:06:49</publishTime>
    </File>
    <File Include="bin/System.Web.Razor.xml">
      <publishTime>09/04/2012 19:06:49</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Administration.dll">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.dll">
      <publishTime>09/04/2012 19:06:50</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Deployment.xml">
      <publishTime>09/04/2012 19:06:50</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.dll">
      <publishTime>09/04/2012 19:06:50</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.dll">
      <publishTime>09/04/2012 19:06:50</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.Razor.xml">
      <publishTime>09/04/2012 19:06:50</publishTime>
    </File>
    <File Include="bin/System.Web.WebPages.xml">
      <publishTime>09/04/2012 19:06:50</publishTime>
    </File>
    <File Include="bin/WebGrease.dll">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/WebMatrix.Data.dll">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/WebMatrix.Data.xml">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/WebMatrix.WebData.dll">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="bin/WebMatrix.WebData.xml">
      <publishTime>09/04/2012 18:12:38</publishTime>
    </File>
    <File Include="Content/bootstrap-responsive.min.css">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/bootstrap.min.css">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-bg_diagonals-thick_18_b81900_40x40.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-bg_diagonals-thick_20_666666_40x40.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-bg_flat_10_000000_40x100.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-bg_glass_100_f6f6f6_1x400.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-bg_glass_100_fdf5ce_1x400.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-bg_glass_65_ffffff_1x400.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-bg_gloss-wave_35_f6a828_500x100.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-bg_highlight-soft_100_eeeeee_1x100.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-bg_highlight-soft_75_ffe45c_1x100.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-icons_222222_256x240.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-icons_228ef1_256x240.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-icons_ef8c08_256x240.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-icons_ffd27a_256x240.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/images/ui-icons_ffffff_256x240.png">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/jquery-ui.css">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Content/Site.css">
      <publishTime>09/04/2012 19:41:53</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>09/04/2012 19:06:57</publishTime>
    </File>
    <File Include="Packages/Dynamic.dll">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Packages/Dynamic.pdb">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Scripts/bootstrap.min.js">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Scripts/grid.locale-en.js">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Scripts/html5.js">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Scripts/jquery-ui.custom.min.js">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Scripts/jquery.jqGrid.min.js">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Scripts/jquery.min.js">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Scripts/jquery.validate.min.js">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Scripts/json2.min.js">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Views/Menu/Index.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Views/Shared/Error.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Views/Shared/Login.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Views/Shared/Shared/Error.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Views/Shared/_Layout.cshtml">
      <publishTime>09/04/2012 18:56:40</publishTime>
    </File>
    <File Include="Views/Web.config">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Views/_ViewStart.cshtml">
      <publishTime>09/04/2012 18:12:37</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>09/04/2012 20:38:39</publishTime>
    </File>
  </ItemGroup>
</Project>